# Python
__pycache__/

# Virtual environment
venv
.env

# Django
*.sqlite3
*.log

# Static & media 
media/ 
staticfiles/

# Node and Tailwind
node_modules/
build/
dist/
# theme/static/css/dist/ # small, will use in prod